<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="box" id="heading">
      <h1><%= ListTitle %></h1>
    </div>
    <div class="box">
       <% for(i=0; i < newListItems.length; i++ ){ %> 
       <div class="item">
          <input type="checkbox">
          <p> <%= newListItems[i] %> </p>
      </div>
      <%}%>
      <form action="/" method="POST" class="item">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= ListTitle %>>+</button>
   </form>
    </div>
    
      
</body>

</html>